<!doctype html>
<html lang="en" ng-app="moviesApp">

<head>
    <meta charset="utf-8">
    <title>Utilisation des promesses</title>
    <meta name="description" content="Explications sur le fonctionnement des promesses">
    <meta name="author" content="Samuel LE GAL">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <br>
    <div class="container" ng-controller="searchMoviesController">
        <div class="row" ng-if="error">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erreur :</span> {{error.data}} {{error.message}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form role="form" name="formSearchMovies" novalidate action="">
                    <fieldset>
                        <legend>Recherche de films : </legend>
                        <div class="form-group">
                            <label for="title">Recherche : </label>
                            <input type="text" class="form-control" ng-model="query" ng-change="cleanMovies()" required>
                        </div>
                        <button type="button" ng-click="searchMovies()" ng-disabled="formSearchMovies.$invalid" class="btn btn-default">
                            Rechercher
                        </button>
                    </fieldset>
                </form>
                <br>
                <br>
            </div>
        </div>
        <div class="row" ng-if="query &amp;&amp; movies">
            <div class="col-md-12">
                <fieldset>
                    <legend>Résultats</legend>

                    <!--  Aucun résultats -->
                    <div class="alert alert-warning" role="alert" ng-if="movies.length===0">
                        Aucun résultats pour votre recherche : <strong>"{{query}}"</strong>
                    </div>

                    <!-- Résultats -->
                    <div class="panel panel-default" ng-repeat="movie in movies">
                        <div class="panel-heading">{{movie.title}}</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img ng-src="https://api.themoviedb.org/3/movie/550/images?api_key={{baseParams.apiKey}}&language=fr&include_image_language=fr">
                                    <img ng-src="{{configuration.data.images.base_url}}{{movie.backdrop_path}}">
                                </div>
                                <div class="col-md-6">
                                    <strong>Année : </strong>{{movie.release_date}}
                                    <br />
                                    <strong>Genres : </strong>{{movie.genres}}
                                    <br />
                                    <strong>Résumé :</strong> {{movie.overview}}
                                    <pre>{{movie|json}}</pre>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-extend-promises/angular-extend-promises.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
